.crew {
  background-image: url('~/assets/images/crew/background-crew-mobile.jpg');

  @media screen and (min-width: 35rem) {
    background-position: center center;
    background-image: url('~/assets/images/crew/background-crew-tablet.jpg');
  }

  @media screen and (min-width: 45rem) {
    background-image: url('~/assets/images/crew/background-crew-desktop.jpg');
  }
}
